base58==2.1.1
etherscan==0.3.0
etherscan_python==2.1.0
pyTelegramBotAPI==4.6.0
python_telegram_bot==13.11
requests==2.27.1
scalecodec==1.0.34
substrate_interface==1.2.2
substrateinterface==1.0.0
telegram==0.0.1
